.catalog-menu-bg
	background #ebebeb
	padding 35px 0

.catalog-menu
	reset_ul()

.catalog-menu__item
	font-size 1.8em
	margin  0 15px
	display inline-block

.catalog-menu__item__link
	color #333333
	text-decoration none
	text-transform uppercase
	&:hover
		color link_hover_color
