textColor = #ffffff
orange = #ff9900

.footer
	padding-top fpt = 115px
	padding-bottom fpb = 150px
	background bgcolor = #1f1f1f
	position relative
	@media xs
		padding-top fpt*0.3
		padding-bottom fpb*0.3
	@media sm
		padding-top fpt*0.3
		padding-bottom fpb*0.3
	@media md
		padding-top fpt*0.5
		padding-bottom fpb*0.5
	@media lg
		padding-top fpt
		padding-bottom fpb
	&:before
		position absolute
		display block
		content ''
		width 0
		height 0
		top -220px
		left 0
		border-left 0 solid transparent
		border-right 675px solid transparent
		border-bottom 220px solid bgcolor 
		@media xs
			top -110px
			left 0
			border-right 287px solid transparent
			border-bottom 110px solid bgcolor
		@media sm
			top -125px
			left 0
			border-right 383px solid transparent
			border-bottom 125px solid bgcolor
		@media md
			top -130px
			left 0
			border-right 495px solid transparent
			border-bottom 130px solid bgcolor
		@media lg
			top -150px
			left 0
			border-right 599px solid transparent
			border-bottom 150px solid bgcolor
		@media xl
			top -220px
			left 0
			border-right 799px solid transparent
			border-bottom 220px solid bgcolor
	&:after
		position absolute
		display block
		content ''
		top -220px
		right 0
		width 0
		height 0
		border-right 0 solid transparent
		border-left 675px solid transparent
		border-bottom 220px solid bgcolor
		@media xs
			top -110px
			right 0
			border-left 287px solid transparent
			border-bottom 110px solid bgcolor
		@media sm
			top -125px
			right 0
			border-left 383px solid transparent
			border-bottom 125px solid bgcolor
		@media md
			top -130px
			right 0
			border-left 495px solid transparent
			border-bottom 130px solid bgcolor
		@media lg
			top -150px
			right 0
			border-left 599px solid transparent
			border-bottom 150px solid bgcolor
		@media xl
			top -220px
			right 0
			border-left 799px solid transparent
			border-bottom 220px solid bgcolor
.footer__container
	margin 0 auto
	max-width 100%
	width 1200px
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap nowrap
	align-items flex-start
	@media xs
		justify-content space-around
		flex-wrap wrap
	@media sm
		flex-direction column
		justify-content space-around
		align-items center
		flex-wrap wrap
	@media md
		flex-direction column
		justify-content space-around
		align-items center
		flex-wrap wrap
	@media lg
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		align-items flex-start
	@media xl
		flex-wrap nowrap
		justify-content space-between
		align-items flex-start

.footer__item
	width 300px
	margin-bottom 5em	
	
.footer__wrap
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap nowrap
	justify-content space-around
		
.footer__title
	margin-bottom 1em
	font(3.6em, textColor, 1.3em)
	text-align center
	color textColor
	text-transform uppercase
	@media xs
		font-size 3.3em
	@media sm
		font-size 3.3em
	@media md
		font-size 3.3em
	@media lg
		font-size 3.3em
	@media xl
		font-size 3.6em
	&:first-child
		position relative
		z-index 10
		&:after
			display block
			position absolute
			content ''
			top 0
			width 100%
			height 100%
			z-index -1
			background-image url(../img/footer_bg_left.svg)
			background-repeat no-repeat
			background-position center
.footer__title_center
	&:after
		background-image url(../img/footer_bg_center.svg) !important
				
.footer__text
	font(2.4em, textColor, 1.5em)
	color textColor
	text-align center
	@media xs
		font-size 2.0em
		line-height 1.5em
	@media sm
		font-size 2.0em
	@media md
		font-size 2.4em
	@media lg
		font-size 2.4em
	@media xl
		font-size 2.4em
	&_orange
		color orange

.footer__column
	text-decoration none
	font(2.4em, textColor, 2.4em)
	@media xs
		font-size 2.0em
	@media sm
		font-size 2.0em
	@media md
		font-size 2.0em
	@media lg
		font-size 2.2em
	@media xl
		font-size 2.4em	
.footer__tag
	text-decoration none
	color textColor
	&:hover
		color orange