mixin b_delivery()
	+b.delivery
		+e.container
			h2.title-cross.title-cross_light Доставка
				mixin item(iconName, text)
					+e.item
						+e("img").icon(src=iconName alt="")
						+e("p").content!= text
			+e.wrapper
				+item("img/time.png", "Вы оформляете заказ до 13:00")
				+item("img/car.png", "Доставляем Вам в удобное для Вас время с 9:00 до 20:00 и удобное место")
				+item("img/food.png", "Приятного аппетита!")
			+e("p").text_top
				| Сделай фото с любимым блюдом<br>
				| от Фродо, розмести в инстаграм
			+e("p").text_bottom
				| И получи дополнительный десерт<br>
				| при следующем заказе :)
			+e("img").image(src="img/instagram.png")

