mixin b_list()
	+b.list
		+e.container
			+b.item
				+e('img').image(src="img/1.png")
				+e('p').name Автотранспорт
			+b.item
				+e('img').image(src="img/2.png")
				+e('p').name Будівництво, архітектура, землекористування
			+b.item
				+e('img').image(src="img/3.png")
				+e('p').name Громадянство
			+b.item
				+e('img').image(src="img/4.png")
				+e('p').name Захист прав дитини
			+b.item
				+e('img').image(src="img/5.png")
				+e('p').name Реєстрація місця проживання/перебування
			+b.item
				+e('img').image(src="img/6.png")
				+e('p').name Підприємницька діяльність
			+b.item
				+e('img').image(src="img/7.png")
				+e('p').name Санітарне та епідемічне благополуччя, ветеринарна медицина
			+b.item
				+e('img').image(src="img/book.png")
				+e('p').name Комунальне господарство