mixin b_footer()
	mixin block(title, text, text1, text_orange)
				+e.item
					+e('h3').title!= title
					+e('p').text!= text
					+e('p').text!= text1
					+e('p').text_orange!= text_orange

	mixin list(...tags)
		+e('ul').column
			each item in tags
				+e('a').tag(href="#")= item
	
	+b('footer').footer
		+e.container
			+block("Contact Us", "г. Шира, ул. Усадьба 50", "8-800-574-54-45", "info@byfet.ua")
			+e.item
				+e('h3').title_center Popular Tags
				+e.wrap
					+list('#buffet', '#friends', '#meat', '#fantasy')
					+list('#food', '#cake', '#drink')
					+list('#cafe', '#magic')
					
			+block("Working time", "ПН-ПТ:    08:00 - 21:00", "СБ-ВС:     08:00 - 19:00")
			

			