mixin image-gallery()
	+b.image-gallery
		+e.wrap.container
			h2.title-cross.title-cross_light Галерея
		+e.carousel
			.owl-carousel.owl-theme
				.owl-item
					img(class="owl-lazy" data-src="img/image_gallery_1.jpg" data-src-retina="img/image_gallery@2x_1.jpg" alt="image_gallery_1")
				.owl-item
					img(class="owl-lazy" data-src="img/image_gallery_2.jpg" data-src-retina="img/image_gallery@2x_1.jpg" alt="image_gallery_2")
				.owl-item
					img(class="owl-lazy" data-src="img/image_gallery_3.jpg" data-src-retina="img/image_gallery@2x_1.jpg" alt="image_gallery_3")