mixin b_map()

	.map_block
		+b.container
			h2.title-cross.title-cross_durk Карта
			p.map_block__text.map_block__text_top За городом: стационарное и уличное. 
			p.map_block__text 
				| Доехать можно без проблем! С ценра<br>
				| города, прямо к нам, едет бесплатная<br>
				| маршрутка №666.<br>