mixin b_promo_gallery()
	.promo-gallery
		.container
			.owl-carousel.owl-theme
				div
					img(class="owl-lazy" data-src="img/hamburger1.png" alt="hamburger1")
				div
					img(class="owl-lazy" data-src="img/hamburger2.png" alt="hamburger2")
				div
					img(class="owl-lazy" data-src="img/hamburger3.png" alt="hamburger3")

			.owl-carousel-arrows.owl-carousel-arrows-next
			.owl-carousel-arrows.owl-carousel-arrows-prev
