mixin b_start_history_block()
	.sm_content_block
			h2.strocked_title История
			img.sm_content_block__pic(src="img/start_history_block.png" alt="Frodo Buffet")
			.sm_content_block__text
				| Новый, совсем не похож на другие<br>
				| буфет, находится на Усадьбе у<br>
				| хоббита Фродо Беггинса. Подходя к <br>
				| стойке буфетной, чувствуется <br>
				| магический дух поваров, которые <br>
				| пытаются передать мифологически <br>
				| северный вкус блюд быстрого<br>
				| питания.
			.sm_content_block__link_wrap
				a.btn-link(href="#")
					font Смотреть
