.list-stryped
	reset_ul()

.list-stryped__item
	font-style italic
	font-size 1.6em
	position relative
	padding-left 63px
	margin 5px 0
	@media md
		font-size 2.6em
	&:before
		clear both
		content ""
		display block
		position absolute
		left 0
		top 8px
		width 37px
		height 2px
		background #111111
