.prod-card
	padding 20px 0

.prod-card__title
	font-size 2em
	color link_hover_color

.prod-card__prise
	font-size 2.8em
	float right
	@media md
		font-size 9em

.prod-card__title
	display inline-block
	vertical-align middle
	font-size 2.8em
	color link_hover_color
	margin-right 10px
	@media md
		font-size 9em

.prod-card__navigation
	display inline-block
	text-decoration none
	font-size 2em
	color #111111
	@media md
		font-size 5em

.prod-card__descr_col
	margin 15px 0 25px
	@media md
		width 30%
		float left

.prod-card__category
	margin 20px 0
	font-size 2.0em
	@media md
		font-size 2.6em

.prod-card__description
	font-size 1.6em
	@media md
		font-size 2.6em

.prod-card__img
	@media md
		width 40%
		float left

.prod-card__composit
	padding 40px 0 0
	@media md
		width 30%
		float right
