.strocked_title
	font-size 6em
	font-weight: 700;
	position relative
	&:after
		display block
		content ''
		width 239px
		height 12px
		background #f48a00
		left -46px
		top 50%
		position absolute;
		@media xs
			height 8px
	@media md
		font-size 9em

.container-title
	font-size 6em
	font-weight bold
	color #1f1f1f
	position relative
	text-align center
	padding-top 75px
	padding-bottom 75px
	@media lg
		font-size 8em

	&__line
		background-color #f48a00
		width 7rem
		height .75rem
		position absolute
		top 0
		bottom 0
		margin auto
		right 50%
		@media lg
			width 15rem
