.sm_content_block
	margin 70px 60px
	position relative
	margin 20px 20px 20px
	@media sm
		padding-left 40%
	@media lg
		padding-left 365px
		min-height 418px
	@media xs
		padding-bottom 280px

	&__pic
		position absolute
		bottom 0
		left 0
		top 0
		max-width 35%
		@media xs
			top auto
			max-width 100%

	&__text
		font-size 1.8em
		margin 20px 0 80px
		line-height 1.5;
		@media md
			font-size 3.3em
			br
				display none
				@media lg
					display inline
	&__link_wrap
		padding 0 0 130px

.btn-link
	max-width 100%
