.list
	&__container
		margin 0 auto
		width 1200px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content space-around
		align-items center
.item
	background-color #FFFFFF
	margin 15px 0px
	width 275px
	height 275px
	padding-top 5%
	
	&__image
		margin-left 20px
		
		
		
	&__name
		font-size 2.0em
		color #333333
		text-align center