.promo-gallery
	position relative
	z-index 1
	max-width 100%
	text-align center
	background url(../img/top.jpg) #f1f1f3 center bottom no-repeat
	padding: 400px 0 140px;
	@media sm
		padding: 200px 0 140px
	img
		max-width 90%
	@media lg
		height 800px
		padding 170px 0 40px
