.header
	width 100%
	padding-top 18px
	padding-bottom 22px
	background-color #383E49
	&__wrap
		height 4.0em
		display flex
		flex-wrap nowrap
		justify-content center
		align-items center
		@media xs
			margin 0 20px
		@media sm
			margin 0 20px
	&__image
		align-content center
		width 34px
		height 40px
		display inline-block
		margin-right 3.8em
		@media xs
			margin-right 1.0em
	&__title
		display inline-block
		text-align center
		color #ffffff
		font-size 3.4em
		@media xs
			font-size 3.0em
		@media sm
			font-size 3.0em
	
		