.header
	height 80px
	background-color #333333
	position relative
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	
	align-items center
	&:before
		position absolute
		content ''
		display block
		top 0
		left 0
		
	&__title
		color #ffffff
		font-size 3.4em
		text-align center