.map_block
	height 1100px
	padding-top 135px
	position relative
	@media xs
		padding-top 40px
		height 650px
	@media sm
		padding-top 60px
		height 800px
	@media md
		padding-top 80px
		height 900px
	@media lg
		padding-top 100px
		height 1000px
	/*&:before
		position absolute
		display block
		content ''
		top -5px
		left -12px
		width 1349px
		height 1075px
		background url(../img/map-bg.png) no-repeat
		@media xs
			transform scale(0.4)
			top -290px
			left -440px
		@media sm
			transform scale(0.5)
			top -210px
			left -350px
		@media md
			transform scale(0.63)
			top -90px
			left -260px
		@media lg
			transform scale(0.75)
			top -30px
			left -170px*/
	&:after
		position absolute
		display block
		content ''
		top -20px
		right 40px
		width 162px
		height 333px
		background url(../img/map-bg-right.png)
		@media xs
			transform scale(0.4)
			top -105px
			right -10px
		@media sm
			transform scale(0.5)
			top -100px
			right -10px
		@media md
			transform scale(0.6)
			top -80px
			right -10px
		@media lg
			transform scale(0.75)
			top -60px
			right -10px
		@media xl
			transform scale(0.9)
			top -40px
			right 45px

.map_block__text_top
	margin-top 70px
	
.map_block__text
	font-size 3.3em
	margin-top 95px
	color #1F1F1F
	text-align center
	line-height 1.5em
	@media xs
		font-size 2.0em
		margin-top 30px
	@media sm
		font-size 2.4em
		margin-top 45px
	@media md
		font-size 2.8em
		margin-top 60px
	@media md
		font-size 3.0em
		margin-top 75px
	@media lg
		font-size 3.3em
		margin-top 95px