.prod-order
	padding 30px 0 50px
	position relative

.form-increment
	display inline-block
	font-size 0
	@media xs
		margin-bottom 20px

.form-increment__button, .form-increment__input
	height 71px
	border solid #cccccc
	text-align center
	font-size 25px
	background #ebebeb

.form-increment__button
	width 53px
	border-width 1px

.form-increment__input
	border-width 1px 0
	width 100px

.prod-order
	@media md
		.btn-link
			position absolute
			right 0
